@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url("iconfont.ttf?t=1677985720025") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-all:before {
  content: "\e6ef";
}

.icon-copy:before {
  content: "\e6f3";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-ashbin:before {
  content: "\e744";
}

.icon-smile:before {
  content: "\e766";
}
